clothing:
  title: Kleidung
  attribute_titles:
    - [type, Art, Arten]
    - [sub_type, Sub-Art, Sub-Arten]
    - [material, Material, Materialien]
    - [size, Größe, Größen]
    - [color, Farbe, Farben]
    - [property, Merkmal, Merkmale]
    - [location, Kiste, Kisten]
  sort:
    - type
    - sub_type
    - size
shoes:
  title: Schuhe
  attribute_titles:
    - [brand, Marke, Marken]
    - [type, Typ, Typen]
    - [color, Farbe, Farben]
    - [size, Größe, Größen]
    - [mm, mm, mm]
    - [real_size, "Wahre Größe", "Wahre Größen"]
    - [property, Besonderheit, Besonderheiten]
    - [location, Ort, Orte]
  sort:
    - mm
    - type
books:
  title: Bücher und Spiele
  attribute_titles:
    - [type, Art, Arten]
    - [sub_type, Sub-Art, Sub-Arten]
    - [author, Autor, Autoren]
    - [title, Titel, Titel]
    - [location, Ort, Orte]
